
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Quicsand;
  src: url('../../public/font/Montserrat-VariableFont_wght.ttf');
}

.bg-hero {
  background-image: url('./images/hero-bg.jpg');
}

.bg-contact {
  background-image: url('./images/contact-bg.jpg');
}